.button {
  padding: 0.5rem;
  border-radius: 9999px;
  transition: opacity 0.2s ease;
  font-size: 18px;
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
}

.active:hover {
  opacity: 0.8;
}

.disabled {
  background-color: #d1d5db;
  color: white;
  cursor: not-allowed;
}


.button {
  border: none;
  background-color: none;
}
